@media only screen and (max-device-width: 480px), only screen and (-webkit-min-device-pixel-ratio: 2), screen and (-webkit-device-pixel-ratio: 1.5){
/* The menu container */
.menu {float: right; overflow: hidden; margin-top: -130px; margin-right: 15px;}
/* menu button */
.menu .menubtn {font-size: 60px; border-radius: 30px; outline: none; color: purple; padding: 12px 16px; background-color: inherit; font-family: inherit; /* Important for vertical align on mobile phones */ margin: 0; /* Important for vertical align on mobile phones */}
/* menu content (hidden by default) */
.menuContent {display: none; background-color: inherit; max-width: 220px; z-index: auto; font-size: 30px; position: relative;}
/* Show the menu on click */
.show {display: block;}

/* Formatting the header area */
header {background: lavender; height: 150px; width: 100%; border-radius: 30px;}
header .header {height: 150px; width: 200px;}

marquee {font-size: 40px;}
table {border-spacing: 10px; font-size: 30px;}
th {font-size: xx-large;}
label {font-size: 30px;}
input {font-size: 24px;}

.button {background-color: plum; font-size: 30px; border-radius: 30px;}
.contact {height: 40px; width: 40px;}

footer a {color: black; font-size: 40px;}
}