<!-- Add Web-Content -->
{% extends "index.html" %}
{% block content %}
<!-- Add Projects -->
<article>
    <h1>Mini Project</h1>

    <!-- Password generator -->
    <h2>Password Generator</h2>
    <p>OYETEK provides a password generator software to equip you with strong password for your social media account, debit card and others.
        <i class="popup">Click here</i> to view.
    </p>
    <form action="{{ url_for('generate') }}" method="POST" class="form-card" autocomplete="off">
        <div class="form">
            <i class="close-btn">&times;</i>
            <h2>Password Generator</h2>
            <label for="Name">Full Name:</label><br>
            <input id="name" name="Name" type="text" placeholder="AvyWilson" required /><br>
            <label for="Mobile">Mobile Number:</label><br>
            <input id="mobile" name="Mobile" type="tel" required /><br>
            <button onclick="generate()" class="button">Generate</button>
        </div>
    </form>
    <!-- Result -->
    <label class="result">{{ pwd | safe }}</label>

    <!-- Vote arbiter -->
    <h2>Vote Arbiter</h2>
    <p>OYETEK provides a real time voting platform that shows the efficiency and posibility of i-voting in Nigeria. 
        <a href="https://vainec.herokuapp.com" target="_blank">Click here</a> to view.
    </p>
</article>
{% endblock %}